body,html {
	margin:0;
	height:100%;
	width:100%;
}
#map {
	height: 100%;
}

body {
  display: grid;
	grid-template-rows: 220px 1fr 1fr 135px 65% 1fr 1fr 1fr 135px 65% 1fr 135px 40% 65% 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	  "header header header"
    "sidebar sidebar sidebar"
    "howto howto howto"
    "mapheader mapheader mapheader"
    "mapsidebar mapcontent mapcontent"
    "tablefooter tablefooter tablefooter"
    "mapfooter mapfooter mapfooter"
    "globalmapwriteup globalmapwriteup globalmapwriteup"
    "choroheader choroheader choroheader"
    "chorosidebar chorocontent chorocontent"
    "chorofooter chorofooter chorofooter"
    "landfillsheader landfillsheader landfillsheader"
    "landfillsintro landfillsintro landfillsintro"
    "landfillscontent landfillscontent landfillscontent"
    "landfillsfooter landfillsfooter landfillsfooter"
    "takeactionheader takeactionheader takeactionheader"
    "takeaction1intro takeaction1intro takeaction1intro"
    "takeaction1main takeaction1main takeaction1main"
    "takeaction2intro takeaction2intro takeaction2intro"
    "takeaction2main takeaction2main takeaction2main"
    "takeaction3intro takeaction3intro takeaction3intro"
    "takeaction3main takeaction3main takeaction3main"
    "footer footer footer"
    "slideshow-container slideshow-container slideshow-container";
}
.font0 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    color: rgb(89, 124, 80);}
.font1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;}
.font2{font-family: 'Roboto', sans-serif; 
    text-align: center;}
.font3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: left;}
mark {
    background-color: rgb(149, 207, 131);
    opacity: 60%;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    color:rgb(134, 134, 134);
    text-align: center;

  }
  

/*h1 {text-align: center;}*/

.header {
	grid-area: header;
	padding:10px;
  background-color: rgb(238, 253, 220);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px 20px;
}
li{
  display: inline;
  padding: 14px;
}

a:link{
  text-decoration: none;
  color:rgb(89, 124, 80);
}

a:hover{
  color:rgb(28, 49, 23);
  text-decoration: bold;
}

.sidebar {
	grid-area: sidebar;
	padding:10px 18% 10px 18%;
  background-color: rgb(238, 253, 220);
  text-align: center;
  color: rgb(134, 134, 134);
    /*overflow-x: hidden; /* Hide horizontal scrollbar */
    /*overflow-y: scroll; /* Add vertical scrollbar */
}


* {box-sizing: border-box;}
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container{
  grid-area: slideshow-container;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}











.howto {
  grid-area: howto;
  padding:10px 18% 10px 18%;
  background-color:  rgb(238, 253, 220);
  color: rgb(134, 134, 134);
  text-align: center;
}

.background {
  grid-area: body;
  padding: 10px;
  background-color: #777;
}

.mapheader {
	grid-area: mapheader;
	padding:10px;
	background-color:rgb(211, 245, 158);
	color: rgb(134, 134, 134);
	text-align: center;
}

.mapsidebar {
  grid-area: mapsidebar;
  color: rgb(97, 97, 97);
	padding-left:100px;
  padding-right:5px;
	background-color: rgb(211, 245, 158);
	overflow: auto;
}

.mapcontent {
	grid-area: mapcontent;
}

.sidebar-item{
	padding: 3px;
  border-radius: 50px;
	background:white;
  opacity:70%;
	margin: 5px;
	color:gray;
}

.sidebar-item:hover{
  opacity:90%;
  cursor: pointer;
}


.tablefooter {
  grid-area: tablefooter;
  padding-left: 100px;
  color: rgb(97, 97, 97);
	background-color: rgb(211, 245, 158);
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.mapfooter {
	grid-area: mapfooter;
	padding:10px;
	background-color: rgba(212, 245, 158, 0.473);
  color: rgb(134, 134, 134);
}

.globalmapwriteup {
  grid-area: globalmapwriteup;
  padding-left: 100px;
  padding-right: 100px;
  color: rgb(97, 97, 97);
  background-color: rgb(211, 245, 158);
}

/* CHOROPLETH MAP */
#choromap {
	height: 100%;
}

.choroheader {
  color: rgb(29, 85, 63);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 22px;
	grid-area: choroheader;
	padding:10px;
	background-color: rgb(138, 180, 166);
}

.chorosidebar {
	color: rgb(63, 63, 63);
	grid-area: chorosidebar;
	padding-left:100px;
  padding-right:5px;
	background-color: rgb(138, 180, 166);
	overflow: auto;
}

.chorosidebar-item {
	padding: 3px;
  border-radius: 50px;
	background:white;
  opacity:70%;
	margin: 5px;
	color:gray;
}

.chorosidebar-item:hover {
  opacity:90%;
  cursor: pointer;
}

.chorocontent {
	grid-area: chorocontent;
}

.chorofooter {
	grid-area: chorofooter;
	padding:10px;
	background-color: rgba(138, 180, 166, 0.521);
  color: rgb(63, 63, 63);
}

/* legend styles */
.choroinfo {
	padding: 6px 8px;
	font: 14px/16px 'Roboto', sans-serif;
	background: rgb(109, 44, 44);
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 250px;
	min-height: 50px;
}

.choroinfo h4 {
	margin: 0 0 5px;
	color: #777;
}


  /*info panel*/
  .legendinfo {
    padding: 6px 8px;
    font: 14px 'Roboto', sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    min-width: auto;
    min-height: auto;
  }

.legend {
	line-height: 18px;
	color: #555;
  text-align: left;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}



/* LANDFILLS MAP */
#landfillsmap {
	height: 100%;
}

.landfillsheader {
	grid-area: landfillsheader;
	padding:10px;
  background-color: rgb(98, 173, 148);
	color: rgb(220, 243, 234);
}

.landfillsintro {
  grid-area: landfillsintro;
  padding-left: 100px;
  background-color: rgb(161, 219, 200);
  color: rgb(63, 63, 63);
}
/*.landfillssidebar {
	grid-area: landfillssidebar;
	padding-left:100px;
  padding-top: 10px;
  background-color: rgb(220, 243, 234);
	overflow: auto;  auto wraps text to scrollbar
}*/

.landfillscontent {
	grid-area: landfillscontent;
  padding-left: 100px;
  background-color: rgb(161, 219, 200);
}

/*.landfillsbackground {
    grid-area: body;
    padding: 10px;
    background-color: #777;
}*/

/*.landfillssidebar-item{
	padding: 10px;
	background: rgb(179, 221, 185);
	border: 5px solid rgb(255, 255, 255);
	margin: 5px;
	color:rgb(0, 0, 0);
	cursor: pointer; cursor changes to hand when hovering;
}*/
.landfillsfooter {
	grid-area: landfillsfooter;
	padding:10px;
	background-color: rgba(138, 180, 166, 0.521);
  color: rgb(63, 63, 63);
}


/* TAKE ACTION SECTION */
.takeactionheader {
    grid-area: takeactionheader;
    color: rgb(134, 134, 134);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
	padding:10px;
	background-color: rgb(238, 253, 220);
}

.takeaction1intro {
    grid-area: takeaction1intro;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 100px;
    background-color: rgb(238, 253, 220);
    color: rgb(134, 134, 134);
}
.takeaction1main {
    grid-area: takeaction1main;
    background-color: rgb(238, 253, 220);
    color: rgb(134, 134, 134);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}

.takeaction2intro {
    grid-area: takeaction2intro;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 100px;
    background-color: rgb(238, 253, 220);
    color: rgb(134, 134, 134);
}

.takeaction2main {
    grid-area: takeaction2main;
    background-color: rgb(238, 253, 220);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: rgb(134, 134, 134);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-template-columns: auto auto auto;
}

.takeaction3intro {
    grid-area: takeaction3intro;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    padding-left: 100px;
    background-color: rgb(238, 253, 220);
    color: rgb(134, 134, 134);
}

.takeaction3main {
    grid-area: takeaction3main;
    background-color: rgb(238, 253, 220);
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: rgb(134, 134, 134);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-template-columns: auto auto auto;
}

/* ABOUT US SECTION */
.footer{
    grid-area: footer;
    background-color: rgb(238, 253, 220);
    color: rgb(134, 134, 134);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}

div.gallery {
align-items: stretch;
  margin: 5px;
  padding-left: 10;
  padding-top: 5%;
  align-content: center;
  float: left;
  width: 250px;
  flex:1;
  background-color: rgb(238, 253, 220);
  text-align: center;
}
div.gallery img {
  width: 100%;
  border-radius: 40px;
  height: auto;
  display: inline-block;
  list-style: none;
}





/* The sidebar menu */
.sidenav {
    
    width: 75px; /* Set the width of the sidebar */
    border-radius: 20px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; 
    top: 25%; /* Stay at the top */
    left: 15px;
    background-color: rgb(255, 255, 255); /* Black */
    opacity: 70%;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 20px;
    stroke: red;
    stroke-width: 20px;
  }
  .sidenav:hover{
    opacity:100%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    color: rgb(89, 124, 80);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgb(28, 49, 23);
  }